{% extends "base.html" %}
{% block content %}
<br>
<h2>Vet Index</h2>
<br>
<br>
{% for vet in vets %}

<div class="grid-container2">
    <section class="grid-item3">
        <ul >
            <ul>Name:&nbsp;{{ vet.name }}</ul>
            <ul>Address:&nbsp;{{ vet.address }}</ul>
            <ul>Vet ID:&nbsp;{{ vet.id }}</ul>
            <ul><p class="forms"><form action="/vets/{{ vet.id }}/edit">
                <input type="submit" value="Update"></form>
                &nbsp;
                <form action="/vets/{{ vet.id }}/delete" method="POST">
                <input type="submit" value="Deregister">
                </form></p></uL>
        </ul>
    </section>
</div>

{% endfor %}
{% endblock %}
