{% extends "base.html" %}
{% block content %}
<br>
<h2>Pet Index</h2>
<br>
<br>
{% for pet in pets %}

<div class="grid-container2">
    <div class="grid-item3">
        <ul>
            <ul><img src="/static/images/HatchfulExport-All/small_image.png"></ul>
            <br>
            <ul><h4></4><a href="/pets/{{pet.id}}">Name:&nbsp;{{ pet.name }}</a></h4></ul>
            <br>
            <ul>D.O.B:&nbsp;{{ pet.dob }}</ul>
            <br>
            <ul>Gender:&nbsp;{{ pet.gender }}</ul>
            <br>
            <ul>Species:&nbsp;{{ pet.species }}</ul>
            <br>
            <ul>Contact:&nbsp;{{ pet.contact_details }}</ul>
            <br>
            <ul>Treatment notes:&nbsp;{{ pet.treatment_notes }}</ul>
            <br>
            <ul>Vet:&nbsp;{{ pet.vet }}</ul>
            <br>
            <ul>ID:&nbsp;{{ pet.id }}</ul>
            <br>
            <ul>Admission:&nbsp;{{ pet.admission_date }}</ul>
            <h4><ul><a href="/notes">Notes Index</a></ul></h4>
            <ul><p class="forms"><form action="/pets/{{ pet.id }}/edit">
            <input type="submit" value="Update"></form>
            &nbsp;
            <form action="/pets/{{ pet.id }}/delete" method="POST">
            <input type="submit" value="Deregister">
            </form></p></uL>
            <br>
        </ul>
    </div>
</div>

{% endfor %}
{% endblock %}