{% extends "base.html" %}
{% block content %}

<h2>Information</h2>
<br>
<div class="grid-item3">
<h2>{{ pet.name }}</h2>
<ul>
    <ul>D.O.B:&nbsp;{{ pet.dob }}</ul>
    <ul>Gender:&nbsp;{{ pet.gender }}</ul>
    <ul>Species:&nbsp;{{ pet.species }}</ul>
    <ul>Contact:&nbsp;{{ pet.contact_details }}</ul>
    <ul>Treatment notes:&nbsp;{{ pet.treatment_notes }}</ul>
    <ul>Vet:&nbsp;{{ pet.vet.id }}</ul>
    <ul>Admission:&nbsp;{{ pet.admission_date }}</ul>
    <ul>ID:&nbsp;{{ pet.id }}</ul>
</ul>
</div>

{% endblock %}