<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Care Console</title>
</head>

<body>
<div class="grid-item">
    <header>
        <div class="grid-item">
            <div class="fade-in-image">
                <p style="display: inline-block;">
                    <div class="h1"><img src="/static/images/HatchfulExport-All/small_image.png" alt="Animal health starts here"></div>
                    <h1 class="h1" style="width:100%">Pet Care Console</h1>
                    <br>
                    <br>
                </p>
            </div>
            <nav>
                <ul class="menu">
                    <div class="grid-item2"><ul class="button1"><a href="/">Home</a></ul></div>
                    <div class="grid-item2"><ul class="button2"><a href="/pets">Pets</a></ul></div>
                    <div class="grid-item2"><ul class="button3"><a href="/pets/new">Add Pet</a></ul></div>
                    <div class="grid-item2"><ul class="button4"><a href="/vets">Vets</a></ul></div>
                    <div class="grid-item2"><ul class="button5"><a href="/vets/new">Add Vet</a></ul></div>
                </ul>
                <br>
                <br>
            </nav>
            </div>
        </div>
    </header>
{% block content%}
{% endblock %}
</div>  
</body>
</html>